---
/* eslint-disable-next-line import/no-unresolved */
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import {
  SarkaraLayout,
  Paper,
  PaperLink,
  Navigation,
  useNavigation,
} from "@cieloazul310/astro-sarkara";
import { hstack } from "@cieloazul310/sarkara-css/patterns";
import { css } from "@cieloazul310/sarkara-css/css";
import PostYears from "../../components/PostYears.astro";
import { siteMetadata, menu } from "../../data";
import { parseDate } from "../../utils";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  return allPosts
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .map((post, index, arr) => {
      const newer = index !== 0 ? arr[index - 1] : null;
      const older = index !== arr.length - 1 ? arr[index + 1] : null;

      return {
        params: {
          slug: post.slug,
        },
        props: {
          post,
          newer,
          older,
        },
      };
    });
}

interface Props {
  post: CollectionEntry<"posts">;
  newer: CollectionEntry<"posts">;
  older: CollectionEntry<"posts">;
}

const { post, newer, older } = Astro.props;
const navigation = useNavigation(
  { left: newer, right: older },
  {
    href: (obj) => `/posts/${obj.slug}`,
    primaryText: (obj) => obj.data.title,
    secondaryText: (obj) => parseDate(obj.data.date),
  },
);
const entry = await getEntry("posts", post.slug);
const { Content } = await entry.render();
---

<SarkaraLayout
  title={post.data.title}
  image={entry.data.featuredImg?.src}
  siteMetadata={siteMetadata}
  menu={menu}
>
  <Fragment slot="jumbotron-footer">
    <time datetime={post.data.date.toISOString()}
      >{parseDate(post.data.date)}</time
    >
    {post.data.author && <span>by {post.data.author}</span>}
  </Fragment>
  <Paper>
    <Content />
  </Paper>
  <Paper>
    <footer>
      <h2 class={css({ textStyle: "headings", fontSize: ["lg", "lg", "xl"] })}>
        {post.data.title}
      </h2>
      <p class={hstack({ gap: 2 })}>
        <time datetime={post.data.date.toISOString()}
          >{parseDate(post.data.date)}</time
        >
        {post.data.author && <span>by {post.data.author}</span>}
      </p>
    </footer>
  </Paper>
  <Navigation {...navigation} />
  <PaperLink href="/posts/">Markdown Posts Top</PaperLink>
  <Fragment slot="sidebar-top">
    <Navigation {...navigation} direction="column" />
    <PostYears />
  </Fragment>
  <PostYears slot="drawer-top" />
  <Fragment slot="script">
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-VE0MVTCH7K"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-VE0MVTCH7K");
    </script>
  </Fragment>
</SarkaraLayout>
